# Libraries used:
requests
dataframe_image
pandas
fpdf2
plotly
Pillow

# You must add the following folder structure
# In the same path as your Jupyter Notebook Script:

-Fundamental_analysis.ipynb
-images
    -input
        -BS-Logo.png
    -output


